# Dependencies
node_modules
.pnpm-store
.pnpm-debug.log

# Environment
.env
.env.*

# Version control
.git
.gitignore

# Development
.vscode
coverage
test
**/*.test.*
*.md

# Build
dist

# Logs
logs
debug.log

# OS
.DS_Store
